.cont {

  display: flex ;
  align-items: center ;
  justify-content: center ;
  text-align: center;
  height: 90vh; 
}


h1{
  background: black;
  color: azure;
}

body {
  background-repeat: no-repeat;
  background-image: url("../src/utils/img/imagenfdl.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}

#login-form {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}


.buttonchat{

background:#444;
color: aqua;
width: 160px;
height: 80px;
border-radius: 9px;

}













/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del sidebar */
#sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  z-index: 1;
  background-color: #333;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  left: 0;
}

.sidebar-header {
  padding: 20px;
}

.sidebar-header h3 {
  color: #fff;
}

.list-unstyled {
  list-style: none;
}

.list-unstyled a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
}

/* Estilos del botón para alternar el sidebar */
#sidebarCollapse {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

#sidebarCollapse:focus {
  outline: none;
}

/* Estilos del contenido principal */
#content {
  margin-left: 0;
  transition: all 0.3s;
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

/* Estilos del contenido en el contenedor */
.container {
  margin-top: 20px;
  padding: 20px;
}

.container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilos para los enlaces del sidebar */
.list-unstyled a:hover {
  background-color: #444;
}

/* Estilos de fuente */
body {
  font-family: Arial, sans-serif;
}

/* Estilos del botón del sidebar */
#sidebarCollapse:hover {
  background-color: #444;
}

/* Estilos de fuente para la cabecera */
.sidebar-header h3 {
  font-size: 24px;
}
